---
export const title = 'Post 2';
export const url = '/post-2';
---

<html>
  <head>
    <title>Post 2</title>
  </head>
  <body>
    <h1>Post 2</h1>
    <p>This is the content of Post 2. Here you can write your article or blog post content.</p>
    <a href="/">Back to homepage</a>
  </body>
</html>
