---
export const title = 'Post 1';
export const url = '/post-1';
---

<html>
  <head>
    <title>Post 1</title>
  </head>
  <body>
    <h1>Post 1</h1>
    <p>This is the content of Post 1. Here you can write your article or blog post content.</p>
    <a href="/">Back to homepage</a>
  </body>
</html>
