---
// Here you can include metadata or variables if needed
---

<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    background-color: #333;
    color: white;
    padding: 20px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-item {
    margin-right: 15px;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .nav-link:hover {
    text-decoration: underline;
  }
</style>
